body
    text-align center
    font-family 'source-sans'

    @media (min-width: 576px)
        text-align left

#welcome
    position relative
    background-position center
    background-image url('../images/bg-guitar.jpg')
    background-size cover
    color white

    &::before
        content ''
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-color rgba(0, 0, 0, .5)

    .row.main
        height 100vh

        .main-logo
            display block
            width 270px
            margin auto

#about
    .row.main
        padding 100px 0 70px 0

        .caption
            color $caption-color
            font-size: 0.89rem

footer
    font-size 0.89rem
    color $footer-color

    a
        color $footer-color
        text-decoration underline

        &:hover
            color $footer-color

    .row.main
        min-height 90px

        .logo
            width 124px
            display inline-block
