doctype
html(lang='en')

    head
        title IOC - Discover Rio 2016 venues through interactive tours

        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='robots' content='noindex, nofollow')

        link(rel='icon' type='image/png' href='images/favicon.png')

        link(href='libs/bootstrap.min.css' rel='stylesheet')

        link(href='styles/main.css' rel='stylesheet')

    body

        .main-content

            section#welcome.fullscreen-section
                .container
                    .row.align-items-center.justify-content-center.flex-direction-column.full-height
                        .col-xs.col-md-10.text-center
                            img.main-logo.mb-1(src='images/welcome-logo.png' alt='Musical')
                            h3.font-weight-thin.mb-5 Music in the bunker
                            p Musical an EPFL association providing to students a fully-equiped rehearsal room
                            .btn-group
                                a.btn.btn-outline-secondary.btn-lg(href='#venues') What we do
                                a.btn.btn-outline-secondary.btn-lg(href='#venues') Subscription
                                a.btn.btn-outline-secondary.btn-lg(href='#venues') Booking

            section#musical.fullscreen-section

                .container
                    .row.align-items-center.py-3.full-height
                        .col-xs.col-md-8
                            h3 What we do
                            p
                                | ...


            section#subscription.fullscreen-section

                .container
                    .row.align-items-center.py-3.full-height
                        .col-xs.col-md-8
                            h3 Subscription
                            p
                                | To become a member of the MUSICAL and obtain the key to the room, you need to register at the Agepoly and pay the following dues:
                            h4 Tarifs
                            ul
                                li 200 CHF per bands
                                li 50 CHF additional for each non-EPFL-student
                                li 50 CHF of deposit for the key
                            h4 Conditions
                            p
                                | The person in charge of the band is responsible, through his/her signature, to pay 500 CHF in case of a non-restitution of the key, as well as judicial proceedings. The person in charge must be an EPFL student. The names of each member of the band must be written on the sign-up sheet. If new members join the band later on, you need to go back to the Agepoly tu update the registration. Bands have priority over single persons for the attribution of Keys. Bands have 2 persons minimum and 5 persons maximum.

            section#booking.fullscreen-section

                .container
                    .row.align-items-center.py-3.full-height
                        .col-xs.col-md-8
                            h2 Booking
                            p
                                | The booking of the rehearsal room is done online using the spreadsheets in this page.
                            h4 Rules
                            ul
                                li No more than 3 hours per band and per week
                                li It is forbidden to use the room without reservation
                            h4 Booking sheets
                            ul
                                li
                                    a(href='https://docs.google.com/spreadsheets/d/16zaf3mVjalPV9M1uhIg8kLriYh5HhuyBodXS3nZFZfY/')
                                        | Semaine du 16 January
                                li
                                    a(href='https://docs.google.com/spreadsheets/d/1C6Pz9JK8CUix6BCy_zxHXCdzKjVZpuwW8yRiyVVCiMg/')
                                        | Semaine du 23 January
                                li
                                    a(href='https://docs.google.com/spreadsheets/d/14w9gdYWbi3f-XlnDcsTu8iRal-RyULwe1NeUUhq7zmQ/')
                                        | Semaine du 30 January

            section#about.fullscreen-section

                .container
                    .row.align-items-center.justify-content-between.align-content-between.py-3.full-height
                        .col-xs-10.col-sm-5.mb-2
                            h3 Join us
                            p.caption As students come and go, we're always looking for new committee members, particularly at the end of the year. Feel free to contact us to learn more about that.
                        .col-xs-10.col-sm-5
                            h3 Contact
                            address.caption
                                | Musical - Agepoly
                                br
                                a(href='mailto:musical@epfl.ch') musical@epfl.ch
                                br
                                a(href='' target='_blank') our Facebook page

        footer
            .container
                .row.main.align-items-center.justify-content-center
                    .col-xs-10.col-sm-12.col-md-3.col-lg-2
                        img.logo(src='images/footer-logo.png' alt='Musical')
                    .col-xs-10.col-sm-12.col-md-9.col-lg-10
                        | &copy; Copyright 2016. All rights reserved

        script(src='scripts/main.js')
